<footer class="footer">
    <div class="container">
      <div class="redes-sociales">
        <h4>Síguenos en redes sociales:</h4>
        <a href="#" class="red-social-link">Facebook</a>
        <a href="#" class="red-social-link">Twitter</a>
        <a href="#" class="red-social-link">Instagram</a>
      </div>
  
      <div class="contacto">
        <h4>Contacto:</h4>
        <p>Correo: info@example.com</p>
        <p>Teléfono: +123456789</p>
      </div>
      
      <div class="logo">
        <img src="assets/Logo.jpeg" alt="Logo de la empresa">
      </div>
    </div>
  </footer>
  
