.formulario-busqueda {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center; /* Centra el contenido horizontalmente */
  margin: 0px; /* Margen a los lados */
  display: flex;
  flex-direction: column; /* Cambia a flexbox para alinear verticalmente */
  min-height: 70vh;
}

.formulario-busqueda h2 {
  font-size: 24px;
  margin-bottom: 20px; /* Mayor margen inferior */
}

.campo {
  margin-bottom: 20px; /* Mayor margen inferior */
  display: inline-block;
  width: calc(33.33% - 10px);
  text-align: center; /* Centra el texto horizontalmente */
}

.campo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center; /* Centra el texto del label */
}

select,
input[type="text"],
input[type="number"] {
  width: 50%;
  padding: 10px; /* Mayor relleno */
  border: 1px solid #ccc;
  border-radius: 10px; /* Bordes redondeados */
  font-size: 16px;
  text-align: center; /* Centra el texto horizontalmente */
}

button {
  background-color: #9199b1;
  color: #0c0c0c;
  padding: 10px 20px;
  border: none;
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer;
  margin-top: 20px; /* Mayor margen superior */
}
