<div class="contenedor container-fluid row">
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/64a822fadb388.webp" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Mazda Cx5 Grand Touring</h5>
            <p class="card-text">DESCRIPCIÓN
                AA, alarma, cojinería en cuero, llantas en buen estado, exploradoras.
            <br>$ 127.000.000 COP
        </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/64ff38ba7a220.webp" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Renault Sandero stepway 2020</h5>
            <p class="card-text">DESCRIPCIÓN:
                Única dueña. Soat marzo 2024 Mecánico. Asegurado
            <br>$ 42.500.000 COP
        </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/64dfb38fcb653.webp" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mercedes Benz A200</h5>
            <p class="card-text">DESCRIPCIÓN:
                Nunca chocado, segundo dueño, mantenimientos al día y excelente estado.
            <br>$ 140.000.000 COP
        </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/6484d1fce6f13.webp" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Volkswagen Golf GTI 2.0</h5>
            <p class="card-text">DESCRIPCIÓN:
                MOTOR 2,0 CC / 8 VALVULAS * VEHICULO EN PERFECTO ESTADO * TODO LE FUNCIONA * FRENO DE DISCO 4 RUEDAS ORIGINAL * 
            <br>$ 26.000.000 COP
        </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/64a3495d63001.webp" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ford Fusion Titanium 2013</h5>
            <p class="card-text">DESCRIPCIÓN:
                Vendo hermoso Ford Fusión Motor : 2.0T Automático de 6 Vel Mod. 2013 Sin siniestros en Fasecolda 100% asegurable. Nunca estrellado.
            <br>$ 61.900.000 COP
        </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/64fd18d542144.webp" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kia picanto zenith 2018</h5>
            <p class="card-text">DESCRIPCIÓN:
                Vendo en excelente estado, asegurable, precio negociable, llantas nuevas , muy full, documentos al día.
            <br> $ 43.300.000 COP
        </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/64e8d2af69a35.webp" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="card-title">Audi Q3 ambition</h5>
            <p class="card-text">DESCRIPCIÓN:
                Excelente estado, único dueño, papeles y mantenimiento al día, nunca chocada.
                <br> Precio:159.000.0000
                </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card m-2" style="width: 17rem;">
        <img src="https://d3bmp4azzreq60.cloudfront.net/fit-in/2000x2000/vendetunave/images/vehiculos/64f89f76329cd.webp" class="card-img" alt="...">
        <div class="card-body">
            <h5 class="Audi A4 1.8 Attraction">Card title</h5>
            <p class="card-text">DESCRIPCIÓN:
                •MARCA: Audi •LINEA: A4 1.8 Attraction •MODELO: 2010
            <br>$ 40.900.000 COP
        </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
</div>
