<div class="principal">
  <div class="layout">
    <h1>REGISTRO</h1>
    <form action="#">
      <div>
        <div>
          <label for="nombre">Nombre</label>
          <div>
            <input
              class="form-control"
              name="nombre"
              type="text"
              placeholder="Nombre"
            />
          </div>
        </div>
      </div>
      <div>
        <div>
          <label for="email">Correo electronico</label>
          <div>
            <input
              class="form-control"
              name="email"
              type="text"
              placeholder="Correo electronico"
            />
          </div>
        </div>
      </div>
      <div>
        <div>
          <label for="password">Contraseña</label>
          <div>
            <input
              class="form-control"
              name="password"
              type="password"
              placeholder="Contraseña"
            />
          </div>
        </div>
      </div>
      <div>
        <div>
          <label for="confirm_password">Confirmar contraseña</label>
          <div>
            <input
              class="form-control"
              name="confirm_password"
              type="password"
              placeholder="Confirmar su contraseña"
            />
          </div>
        </div>
      </div>
      <div class="link-register">
        <a routerLink="/login">Login</a>
      </div>
      <button type="submit">
        REGISTRARSE<span class="MuiTouchRipple-root css-w0pj6f"></span>
      </button>
    </form>
  </div>
</div>
